:root {
	--primary-background: black;
	--primary-text: white;

	--secondary-text: #fbfbfb;
	--secondary-background: #0d0d0d;

	--important-text: #eab52e;

	--link: #eab52e;
	--hover-link: #ffe491;
	--hover-link-shadow: #ffe491;
	--visited-link: #ff89ff;

	--anchor: #c0c0c0;
}
