@import './color.scss';

a {
	color: var(--important-text);

	&:hover {
		color: rgb(255, 228, 145);
		text-shadow: rgb(255, 228, 145) 0 0 2px;
	}

	&:visited {
		color: rgb(255, 137, 255);
	}
}

a[name],
a[name]:hover,
a[name]:visited {
	color: rgb(192, 192, 192);
}
