:root {
	--primary-background: black;
	--primary-text: white;

	--secondary-text: #fbfbfb;
	--secondary-background: #0d0d0d;

	--important-text: #eab52e;

	--link: #eab52e;
	--hover-link: #ffe491;
	--hover-link-shadow: #ffe491;
	--visited-link: #ff89ff;

	--anchor: #c0c0c0;

	--input-background: #3f3f3f;
	--input-border: #3f3f3f;
	--input-text: #acacac;
	--input-accent: #eab52e;

	--toast-text: white;
	--toast-background: #47a447;
	--toast-info: #ed9c28;
	--toast-warning: #d53f3a;
	--toast-error: #d53f3a;

	--report-hover-background: #17171a;
	--report-cell-border: #1b1b1b;

	--test-status-text: white;
	--test-mismatched: #d53f3a;
	--test-matched: #47a447;
	--test-converting: #312fbd;
	--test-comparing: #d1ae39;

	--test-mismatched-lv1: #d53f3a;
	--test-mismatched-lv2: #d5513a;
	--test-mismatched-lv3: #d5853a;
	--test-mismatched-lv4: #d5b93a;
}
