@import './color.scss';

a {
	color: var(--link);

	&:hover {
		color: var(--hover-link);
		text-shadow: var(--hover-link-shadow) 0 0 2px;
	}

	&:visited {
		color: var(--visited-link);
	}
}

a[name],
a[name]:hover,
a[name]:visited {
	color: var(--anchor);
}
