@import '../../theme/ui/color.scss';

table.test-report {
	width: 100%;
	border-collapse: collapse;
	background: $secondary-background;

	.mismatched {
		color: #d53f3a;

		&.lv1 {
			color: #d53f3a;
		}

		&.lv2 {
			color: #d5513a;
		}

		&.lv3 {
			color: #d5853a;
		}

		&.lv4 {
			color: #d5b93a;
		}
	}

	.matched {
		color: #47a447;
	}

	.percent-light {
		display: inline-block;
		border-radius: 3px;
		padding: 2px 7px;
		color: white;
		background: rgb(5, 93, 151);
		transition: background-color 0.8s ease-in-out;

		&.icon1 {
			background: rgb(42, 141, 207);
		}

		&::after {
			content: '%';
		}
	}

	.status {
		display: inline-block;
		color: white;
		border-radius: 2px;
		text-align: center;
		line-height: 1.5em;
		font-size: 8pt;

		&.mismatched {
			background: #d53f3a;
			width: 4em;
		}

		&.matched {
			background: #47a447;
			width: 4em;
		}

		&.converting {
			background: #312fbd;
			padding: 0 0.6em;
		}

		&.comparing {
			background: #d1ae39;
			padding: 0 0.6em;
		}

		&.progress-bar {
			> .current::after {
				content: ' / ';
			}
		}
	}

	thead {
		font-size: 11pt;

		td {
			padding: 0.6em 1em;
		}
	}

	td {
		border: rgb(27, 27, 27) 1px solid;
		border-left: 0 solid;
		border-right: 0 solid;
		padding: 0.5em 1em;

		&.difference {
			text-align: left;

			a {
				display: inline-block;
				margin: 0.5em;
				text-decoration: none;
			}

			a.expand {
				color: rgb(192, 192, 192);
			}
		}

		&.view-all {
			width: 8em;
		}
	}

	tbody {
		tr {
			&:hover {
				background: rgb(23, 23, 26);
			}
		}
	}

	.float-options {
		float: right;
		margin-right: 10px;
	}
}
