@import '../../theme/ui/color.scss';

table.test-report {
	width: 100%;
	border-collapse: collapse;
	background: var(--secondary-background);

	.mismatched {
		color: var(--test-mismatched);

		&.lv1 {
			color: var(--test-mismatched-lv1);
		}

		&.lv2 {
			color: var(--test-mismatched-lv2);
		}

		&.lv3 {
			color: var(--test-mismatched-lv3);
		}

		&.lv4 {
			color: var(--test-mismatched-lv4);
		}
	}

	.matched {
		color: var(--test-matched);
	}

	.status {
		display: inline-block;
		color: var(--test-status-text);
		border-radius: 2px;
		text-align: center;
		line-height: 1.5em;
		font-size: 8pt;

		&.mismatched {
			background: var(--test-mismatched);
			width: 4em;
		}

		&.matched {
			background: var(--test-matched);
			width: 4em;
		}

		&.converting {
			background: var(--test-converting);
			padding: 0 0.6em;
		}

		&.comparing {
			background: var(--test-comparing);
			padding: 0 0.6em;
		}

		&.progress-bar {
			> .current::after {
				content: ' / ';
			}
		}
	}

	thead {
		font-size: 11pt;

		td {
			padding: 0.6em 1em;
		}
	}

	td {
		border: var(--report-cell-border) 1px solid;
		border-left: 0 solid;
		border-right: 0 solid;
		padding: 0.5em 1em;

		&.difference {
			text-align: left;

			a {
				display: inline-block;
				margin: 0.5em;
				text-decoration: none;
			}

			a.expand {
				color: var(--secondary-text);
			}
		}

		&.view-all {
			width: 8em;
		}
	}

	tbody {
		tr {
			&:hover {
				background: rgb(23, 23, 26);
			}
		}
	}

	.float-options {
		float: right;
		margin-right: 10px;
	}
}
