@import './ui/color.scss';

body {
	font-size: 9pt;
	font-family: "Segoe WPC", "Segoe UI", sans-serif;
	background: var(--primary-background);
	color: var(--primary-text);
	margin: 0;
	padding: 0;
}

.tips {
	margin: 20px;
	font-size: 9pt;
}

.build-tips {
	display: none;
}

#cover {
	position: absolute;
	top: 0;
	left: 0;
}

input[type="text"],
input[type="number"] {
	background: rgb(63, 63, 63);
	border: rgb(63, 63, 63) 1px solid;
	color: rgb(172, 172, 172);
	padding: 0 0.5em;

	width: 6em;
	&.wide {
		width: 12em;
	}

	&:hover,
	&:focus {
		border: rgb(0, 76, 121) 1px solid;
	}
}

input[type="number"] {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

@import './ui/arrow.scss';
@import './ui/button.scss';
@import './ui/heading.scss';
@import './ui/link.scss';
