@import '../../theme/ui/color.scss';

report-table {
	display: table;
	width: 100%;
	border-collapse: collapse;
	background: var(--secondary-background);

	report-row {
		display: table-row;
	}

	.mismatched {
		color: var(--test-mismatched);

		&.lv1 {
			color: var(--test-mismatched-lv1);
		}

		&.lv2 {
			color: var(--test-mismatched-lv2);
		}

		&.lv3 {
			color: var(--test-mismatched-lv3);
		}

		&.lv4 {
			color: var(--test-mismatched-lv4);
		}
	}

	.matched {
		color: var(--test-matched);
	}

	status-icon {
		display: inline-block;
		color: var(--test-status-text);
		border-radius: 2px;
		text-align: center;
		line-height: 1.5em;
		font-size: 8pt;

		&[status="mismatched"] {
			background: var(--test-mismatched);
			width: 4em;
		}

		&[status="matched"] {
			background: var(--test-matched);
			width: 4em;
		}

		&[status="converting"] {
			background: var(--test-converting);
			padding: 0 0.6em;
		}

		&[status="comparing"] {
			background: var(--test-comparing);
			padding: 0 0.6em;
		}

		&[status="progress-bar"] {
			> .current::after {
				content: ' / ';
			}
		}
	}

	thead {
		font-size: 11pt;

		td {
			padding: 0.6em 1em;
		}
	}

	td {
		border: var(--report-cell-border) 1px solid;
		border-left: 0 solid;
		border-right: 0 solid;
		padding: 0.5em 1em;

		&.difference {
			text-align: left;

			a {
				display: inline-block;
				margin: 0.5em;
				text-decoration: none;
			}

			a.expand {
				color: var(--secondary-text);
			}
		}

		&.view-all {
			width: 8em;
		}
	}

	tbody {
		table-row {
			&:hover {
				background: var(--report-hover-background);
			}
		}
	}

	.float-options {
		float: right;
		margin-right: 10px;
	}
}
